
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');

body {
  font-family: 'Shadows Into Light Two', cursive;
  background-image: url(../img/background.jpg);
}

.jumbotron {
  margin-top: 2px;
  padding: 4px;
  background-color: #ff4d4d;
}

.jumbotron h4 {
  text-align: center;
}

.jumbotron ol {
  text-align: left;
  display: inline-block;
}

.jumbotron h3 {
  text-align: center;
}

.well {
  background-color: #ff4d4d;
}

#pizza-icon {
  width: 5%;
}

#name {
  position: relative;
  top: 50%;
  left: 30%;
  width: 42%;
}

#name h3 {
  display: inline;
}

#name .form-group {
  display: inline;
}

.btn-danger {
  margin: auto;
  display: block;
  font-size: 20px;
  text-shadow: 2px 2px black;
}

#receipt {
  display: none;
  text-align: center;
}

#address {
  display: none;
  text-align: center;
  position: relative;
  top: 50%;
  left: 20%;
  width: 60%;
}

#newDelivery {
  display: none;
  text-align: center;
}

footer {
  text-align: center;
  text-shadow: .5px .5px white;
  font-size: 16px;
  color: red;
}
