.jumbotron {
  padding: 4px;
}

.jumbotron h4 {
  text-align: center;
}

.jumbotron ol {
  text-align: left;
  display: inline-block;
}

.jumbotron h3 {
  text-align: center;
}
#name {
  position: relative;
  top: 50%;
  left: 30%;
  width: 42%;
}

#name h3, input {
  display: inline;
}

.btn-danger {
  margin: auto;
  display: block;
}

#receipt {
  display: none;
  text-align: center;
}
